p {
  color: rgb(0, 0, 0);
}

body {
  background-color: rgb(240, 192, 236);
}

h1 {
  font-size: 2em;
}
.responsive-image {
      max-width: 100%;
      height: auto;
    }
:root {
  --carousel-control-color: #fff;
  --carousel-control-width: 15%;
  --carousel-control-opacity: 0.5;
  --carousel-control-hover-opacity: 0.9;
  --carousel-control-transition: opacity 0.15s ease;
  --carousel-control-icon-filter: none;

  --carousel-indicator-width: 30px;
  --carousel-indicator-height: 3px;
  --carousel-indicator-hit-area-height: 10px;
  --carousel-indicator-spacer: 3px;
  --carousel-indicator-opacity: 0.5;
  --carousel-indicator-active-bg: #fff;
  --carousel-indicator-active-opacity: 1;
  --carousel-indicator-transition: opacity 0.6s ease;

  --carousel-caption-width: 70%;
  --carousel-caption-color: #fff;
  --carousel-caption-padding-y: 1.25rem;
  --carousel-caption-spacer: 1.25rem;

  --carousel-control-icon-width: 2rem;

  /* fill in the SVG with explicit hex color encoded as %23 for "#" in the data URL */
  --carousel-control-prev-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0'/></svg>");
  --carousel-control-next-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708'/></svg>");

  --carousel-transition-duration: 0.6s;
  --carousel-transition: transform var(--carousel-transition-duration)
    ease-in-out; /* Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`) */
}
